<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" th:href="@{/css/styles.css}"/>

    <title>Pokemon Manager</title>
</head>
<body style="margin-top: 100px; background-image: url('images/pikachu.png')">

<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <a class="navbar-brand text-white" style="font-size:30px" href="#">Pokemon Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
</nav>

<div class="container">
    <div class="row m-4 border border-dark bg-light rounded">
        <div class="col text-center m-3">
            <a href="battle" class="btn btn-outline-secondary btn-lg">Battle</a>
        </div>
        <div class="col text-center m-3">
            <a href="cards" class="btn btn-outline-secondary btn-lg">Cards</a>
        </div>
        <div class="col text-center m-3">
            <a href="Sign In" class="btn btn-outline-secondary btn-lg">Sign In</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-4 border border-dark rounded bg-light">
        <div class="row20" >
            <div class="column20" th:each="pokemons : ${pokemon}">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <br />
                            <h3 th:text="${pokemons.name}">Name</h3>
                            <img  th:src="${pokemons.image}"  height="120px"/>
                            <div class="row mt-3">
                                <div class="col-sm text-right">
                                    <h6>Health: </h6>
                                </div>
                                <div class="col-sm text-left">
                                    <h6 th:text="${pokemons.health}"> Health    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm text-right">
                                    <h6>Weight: </h6>
                                </div>
                                <div class="col-sm text-left">
                                    <h6 th:text="${pokemons.weight}+' ' + Kg"  > weight</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm text-right">
                                    <h6>Height: </h6>
                                </div>
                                <div class="col-sm text-left">
                                    <h6 th:text="${pokemons.height}+' ' + m"  > height</h6>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <br>
                            <br>
                            <h4>Type </h4>
                            <h6 th:text="${pokemons.type.name}">Type</h6>
                            <br>
                            <h4>Abilities </h4>
                            <div  th:each="ability : ${pokemons.abilities}">
                            <h6 th:text="${ability.name}">ability</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;